html,body{
margin: 0;
padding: 0;
height: 100vh;
}

img{
    max-width: 100%;
}

.container{
    width: min(100ch, 100vw - 4rem);
    margin-inline: auto;
}

main > figure > img{
    padding: 0ch;
    margin: 0ch;
    padding-left: 50px;
}
main>figure>figcaption{
    font-size: 1.2rem;
    padding-left: 50px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav>ul{
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 1rem;
    
}

.imagegrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    
}

p{
    font-size: large;
}
@media only screen and (max-width: 860px)  {    
        main>figure>img{
            padding-left: 0px   ;
        }
        main>figure>figcaption{
            padding-left: 0px;
        }
}